* {
  box-sizing: border-box;
}

body {
  margin: 25px;
}
.logo {
  height: 100px;
  float: right;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.flex-container {
  display: flex;
  justify-content: center;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
